/*
body { 
    background: #6b6b6b;
}
*/
html {
    position: relative;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.nav-wrapper {
    background: #2e3192;
    margin-top: 1%;
}

.nav-content {
    background: #bd632f;
}

.tab {
    text-align: center;
}



/* #bd632f (tiger's eye), #6b6b6b; (gray color); #987D7c (cinerous) */